@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --primary: #C8A2C8;
  --card-background: #F9F9F9;
  --subtle-border: #E5E7EB;
}

html.dark {
  --background: #0A0A0A;
  --foreground: #F5F5F5;
  --primary: #9333EA; 
  --card-background: #171717;
  --subtle-border: #27272A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}
